

th{
	color: white;
}
body{
	background-color: ;
}
table{
	border-collapse: collapse;
}
td{
	padding: 5px;
}
th{
	padding: 5px;
}
table{
	border: none;
}

	td,th{
		border: 1px;
		padding: 8px;
}
body{
	background-color: white;

}
body{
	margin-left: 400px;
	margin-top: 90px;
	margin-bottom: 50px;
}
.table{
	background-color: white;
}
body{
	background-color: purple;
}